# Virtual Environment
.env
nlp_prak_env/

# Data & Temporary Files
data/
temp/

# Models & Libraries (Coqui TTS & Whisper)
app/coqui_tts/
models/whisper.cpp/

# Audio Outputs

results/tts_output/

# Format audio umum (opsional, jaga-jaga kalau ada yang tercecer)
*.wav
*.mp3

# Mengabaikan model TTS bahasa Indonesia
models/indonesian-tts/
*.pth